.issue-form-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.issue-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-button {
  margin-top: 20px;
}

.upload-note {
  margin-top: 10px;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.slider-item {
  flex: 1;
}

.level-upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level-upload-item {
  flex: 1;
  margin-right: 20px;
}

.level-upload-container .upload-button-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
